attrs==17.4.0
click==6.7
coverage==4.4.2
Flask==0.12.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
pelican-manager==0.1.0
pluggy==0.6.0
py==1.5.2
pytest==3.3.2
pytest-cov==2.5.1
six==1.11.0
toml==0.9.4
Werkzeug==0.14.1
WTForms==2.1
